<div class="grey_content">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-sm-12 col-md-offset-2">
          <h1>Inquiries</h1>
          <div class="white_box">
            <table id="list_tables" class="table table-hover" style="width:100%">
              <thead>
                <tr>
                  <th class="tbl1_width">No.</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone Number</th>
                  <th>Message</th>
                  <!-- <th>Created By</th> -->
                  <th>Created On</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let inquiry of inquiryList; let i = index" >
                      <td>{{i+1}}</td> 
                      <td>{{inquiry.Name}}</td>                      
                      <td>{{inquiry.Email}}</td> 
                      <td>{{inquiry.PhoneNumber}}</td> 
                      <td>{{inquiry.Message}}</td> 
                      <!-- <td>{{inquiry.UserName}}</td>  -->
                      <td>{{inquiry.CreatedOn | date:'MM/dd/yyyy'}}</td> 
                    </tr>
                    <tr *ngIf="inquiryList.length<=0">
                      <td colspan="7" class="text-center">There is no record found</td>
                    </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
