<div class="grey_content">
		<div class="container">
		  <div class="row">
			<div class="col-md-10 col-sm-12 col-md-offset-2">
			
			<div class="row">
		<div class="col-md-12 col-sm-12">
		 <h1 class="pull-left">{{header}} Country</h1>
           
			<div class="btn-group pull-right add-right">
							<a routerLink="/country/list" class="btn btn-danger btn-add">
							<i class="fa fa-reply fa-fw"></i> Back
							</a>
						</div>
		</div>
         </div>
			
				<!-- <div class="alert alert-{{globals.type}}" role="alert" *ngIf="globals.msgflag">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
				{{globals.message}}
				</div> -->
			  <div class="white_box">
					
						<div class="clearfix"></div>
                                 <form #CountryForm="ngForm" (ngSubmit)="addCountry(CountryForm)">
                                        <div class="row">
												<div class="col-md-6 col-sm-12 col-xs-12">
													<div class="form-group">
                                            <label><span>*</span>Country</label>
											<input type="text"  #CountryName="ngModel" pattern="[a-zA-Z ]{2,}" maxlength="100" [(ngModel)]="CountryEntity.CountryName" class="form-control"
											name="CountryName"  [ngClass]="{red_border: (CountryName.dirty && CountryName.invalid) || (CountryName.pristine && submitted)}" required/>		
											<span class="error_span" *ngIf="(CountryName.dirty && CountryName.invalid) || (CountryName.pristine && submitted)">
													<span *ngIf="CountryName.errors && CountryName.errors.required">
														Please enter Country
													</span>
												  
													<span *ngIf="CountryName.errors && CountryName.errors.pattern">
														Please enter valid Country
													</span>
											</span>
                                        </div>
										</div>
										<div class="col-md-6 col-sm-12 col-xs-12">
												<div class="form-group">
                                            <label><span>*</span>Country Abbreviation</label>
                                         
											<input type="text"  #CountryAbbreviation="ngModel" pattern="[a-zA-Z]{2,}" maxlength="3"   [(ngModel)]="CountryEntity.CountryAbbreviation" class="form-control txtupper"
											name="CountryAbbreviation" [ngClass]="{red_border: (CountryAbbreviation.dirty && CountryAbbreviation.invalid) || (CountryAbbreviation.pristine && submitted)}" required/>
													<span class="error_span" *ngIf="(CountryAbbreviation.dirty && CountryAbbreviation.invalid) || (CountryAbbreviation.pristine && submitted)">
								  <span *ngIf="CountryAbbreviation.errors && CountryAbbreviation.errors.required">
												Please enter Country Abbreviation
											</span>
										  
										  <span *ngIf="CountryAbbreviation.errors && CountryAbbreviation.errors.pattern">
												Please enter valid Country Abbreviation
										  </span>
								</span>
										</div>
										</div>
										<div class="clearfix"></div>
										<div class="col-md-6 col-sm-12 col-xs-12">
												<div class="form-group">
                                            <label><span>*</span>Phone Prefix</label>
                                         
											<input type="text"  #PhonePrefix="ngModel" pattern="[0-9+]{1,}" maxlength="11"   [(ngModel)]="CountryEntity.PhonePrefix" class="form-control"
											name="PhonePrefix" [ngClass]="{red_border: (PhonePrefix.dirty && PhonePrefix.invalid) || (PhonePrefix.pristine && submitted)}" required/>
													<span class="error_span" *ngIf="(PhonePrefix.dirty && PhonePrefix.invalid) || (PhonePrefix.pristine && submitted)">
								  <span *ngIf="PhonePrefix.errors && PhonePrefix.errors.required">
												Please enter Phone Prefix
											</span>
										  
										  <span *ngIf="PhonePrefix.errors && PhonePrefix.errors.pattern">
												Please enter valid Phone Prefix
										  </span>
								</span>
										</div>
										</div>
										
										<div class="col-md-6 col-sm-12 col-xs-12">
												<div class="form-group1">
                                  <label><span>*</span>Active?</label>
									
									<div class="radiobtn_box">
									  <input type="radio"  name="IsActive" id="role1" value="1" #IsActive="ngModel" [(ngModel)]="CountryEntity.IsActive" required/>
									  <label for="role1">Yes</label>
									</div>

									<div class="radiobtn_box" *ngIf="CountryEntity.CountryId==0 || CountryEntity.isdisabled==0"  >
										<input type="radio"   [disabled]="CountryEntity.isdisabled>0" name="IsActive" id="role2" value="0" #IsActive="ngModel" [(ngModel)]="CountryEntity.IsActive" required/>
										<label for="role2">No </label>
									  </div>
									  <div class="inline_btn tooltip_inline"  data-toggle="tooltip" data-placement="bottom" title="You can’t deactivate Country as it has been already used in State" > 
										<div class="radiobtn_box" *ngIf="CountryEntity.CountryId>0 && CountryEntity.isdisabled>0"    >
											<input type="radio"    [disabled]="CountryEntity.isdisabled>0" name="IsActive" id="role2" value="0" #IsActive="ngModel" [(ngModel)]="CountryEntity.IsActive" required/>
										   <label for="role2">No </label>
									   
										 </div>
									  </div>

									<span class="error_span" *ngIf="(IsActive.dirty && IsActive.invalid) || (IsActive.pristine && submitted)"> 
										<span *ngIf="IsActive.errors.required || (IsActive.pristine && submitted)">Please select Active Status</span>
									  </span>

							  </div>
							  </div>
										<div class="clearfix"></div>
										<div class="text-center">
											<button type="submit" [disabled]="btn_disable" class="next_btn"><span>Submit</span></button>
											<button type="button" *ngIf="CountryEntity.CountryId==0" (click)="clearForm(CountryForm)" class="back_btn"><span>Clear</span></button>
										</div>
										</div>
                                    </form>
								</div>
								</div>
								<!--</div>-->
								</div>
								<!-- End Form Elements -->
								</div>
								</div>
								<div class="clearfix"></div>