<div class="grey_content">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-sm-12 col-md-offset-2">
        <h1>Error Log</h1>
          <div class="alert alert-{{globals.type}}" role="alert" *ngIf="globals.msgflag">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
            {{globals.message}}
          </div>
        <div class="white_box">
          <table id="list_tables" class="table table-hover" style="width:100%">
            <thead>
              <tr>
                <th class="tbl1_width">No.</th>
                <th>Error Type</th>
                <th>Error Message</th>
                <th>Error File</th>
                <th>Error Line</th>
                <th>Date Created</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let log of errorlogList; let i = index" >
                    <td>{{i+1}}</td>
                    <td>{{log.errtype}}</td> 
                    <td>{{log.errstr}}</td>
                    <td>{{log.errfile}}</td>
                    <td>{{log.errline}}</td>
                    <td>{{log.time | date:'MM/dd/yyyy H:mm:ss'}}</td>
                  </tr>
                  <tr *ngIf="errorlogList.length<=0">
                    <td colspan="6" class="text-center">There is no record found</td>
                  </tr> 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
