<!-- End Header Section -->
<div class="black_tour_section active">
	<!-- Tour Section -->
	<!--<a (click)="startFeedback()" class="next_btn" id="start_feedback">Start Feedback</a>-->
	
	<!-- End Tour Section -->

	<!-- Assessment Section -->
	<div class="assessment_content grey_content">
	  <div class="container">
		<div class="row">
		  <div class="col-md-12 col-sm-12">
			<h1>Feedback</h1>
			<div class="progress">
			  <div class="progress-bar progress-bar-success active progress-bar-striped" role="progressbar"
	  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%"> 40% Complete </div>
			</div>
		  </div>
		  <div class="col-md-9 col-sm-8">
			<div id="slider" class="flexslider">
			  <ul class="slides">
				<li>
				  <div class="question_box">
					<div class="category_box">Delivering Feedback <i class="fa fa-angle-double-right"></i> Opportunistic Coaching</div>
					<div class="content" id="contentQues">I balance critical feedback with positive feedback</div>
					<div class="rating" id="ratingAns">
					  <div class="radio_box">
						<input type="radio" value="1" name="rate1" id="rate1_radio1" />
						<label for="rate1_radio1">Always</label>
					  </div>
					  <div class="radio_box">
						<input type="radio" value="2" name="rate1" id="rate1_radio2" />
						<label for="rate1_radio2">Frequently</label>
					  </div>
					  <div class="radio_box">
						<input type="radio" value="3" name="rate1" id="rate1_radio3" />
						<label for="rate1_radio3">Occasionally</label>
					  </div>
					  <div class="radio_box">
						<input type="radio" value="4" name="rate1" id="rate1_radio4" />
						<label for="rate1_radio4">Rarely</label>
					  </div>
					  <div class="radio_box">
						<input type="radio" value="5" name="rate1" id="rate1_radio5" />
						<label for="rate1_radio5">Never</label>
					  </div>
					  <div class="clearfix"></div>
					</div>
				  </div>
				  <div class="question_box">
					<div class="category_box">Delivering Feedback <i class="fa fa-angle-double-right"></i> Opportunistic Coaching</div>
					<div class="content">I monitor the individual's reactions</div>
					<div class="rating">
						
					  <div class="radio_box">
						<input type="radio" value="1" name="rate1" id="rate1_radio1" />
						<label for="rate1_radio1">Always</label>
					  </div>
					  <div class="radio_box">
						<input type="radio" value="2" name="rate1" id="rate1_radio2" />
						<label for="rate1_radio2">Frequently</label>
					  </div>
					  <div class="radio_box">
						<input type="radio" value="3" name="rate1" id="rate1_radio3" />
						<label for="rate1_radio3">Occasionally</label>
					  </div>
					  <div class="radio_box">
						<input type="radio" value="4" name="rate1" id="rate1_radio4" />
						<label for="rate1_radio4">Rarely</label>
					  </div>
					  <div class="radio_box">
						<input type="radio" value="5" name="rate1" id="rate1_radio5" />
						<label for="rate1_radio5">Never</label>
					  </div>
					  <div class="clearfix"></div>
					</div>
				  </div>
				</li>
				<li>
				  <div class="question_box">
					<div class="category_box">Delivering Feedback <i class="fa fa-angle-double-right"></i> Opportunistic Coaching</div>
					<div class="content">I balance critical feedback with positive feedback</div>
					<div class="rating">
					  <div class="radio_box">
						<input type="radio" value="1" name="rate1" id="rate1_radio1" />
						<label for="rate1_radio1">Always</label>
					  </div>
					  <div class="radio_box">
						<input type="radio" value="2" name="rate1" id="rate1_radio2" />
						<label for="rate1_radio2">Frequently</label>
					  </div>
					  <div class="radio_box">
						<input type="radio" value="3" name="rate1" id="rate1_radio3" />
						<label for="rate1_radio3">Occasionally</label>
					  </div>
					  <div class="radio_box">
						<input type="radio" value="4" name="rate1" id="rate1_radio4" />
						<label for="rate1_radio4">Rarely</label>
					  </div>
					  <div class="radio_box">
						<input type="radio" value="5" name="rate1" id="rate1_radio5" />
						<label for="rate1_radio5">Never</label>
					  </div>
					  <div class="clearfix"></div>
					</div>
				  </div>
				  <div class="question_box">
					<div class="category_box">Delivering Feedback <i class="fa fa-angle-double-right"></i> Opportunistic Coaching</div>
					<div class="content">I monitor the individual's reactions</div>
					<div class="rating">
					  <div class="radio_box">
						<input type="radio" value="1" name="rate1" id="rate1_radio1" />
						<label for="rate1_radio1">Always</label>
					  </div>
					  <div class="radio_box">
						<input type="radio" value="2" name="rate1" id="rate1_radio2" />
						<label for="rate1_radio2">Frequently</label>
					  </div>
					  <div class="radio_box">
						<input type="radio" value="3" name="rate1" id="rate1_radio3" />
						<label for="rate1_radio3">Occasionally</label>
					  </div>
					  <div class="radio_box">
						<input type="radio" value="4" name="rate1" id="rate1_radio4" />
						<label for="rate1_radio4">Rarely</label>
					  </div>
					  <div class="radio_box">
						<input type="radio" value="5" name="rate1" id="rate1_radio5" />
						<label for="rate1_radio5">Never</label>
					  </div>
					  <div class="clearfix"></div>
					</div>
				  </div>
				  <div class="question_box">
					<div class="category_box">Delivering Feedback <i class="fa fa-angle-double-right"></i> Opportunistic Coaching</div>
					<div class="content">I frame the feedback in terms of the performance expectations I've set for the individual</div>
					<div class="rating">
					  <div class="radio_box">
						<input type="radio" value="1" name="rate1" id="rate1_radio1" />
						<label for="rate1_radio1">Always</label>
					  </div>
					  <div class="radio_box">
						<input type="radio" value="2" name="rate1" id="rate1_radio2" />
						<label for="rate1_radio2">Frequently</label>
					  </div>
					  <div class="radio_box">
						<input type="radio" value="3" name="rate1" id="rate1_radio3" />
						<label for="rate1_radio3">Occasionally</label>
					  </div>
					  <div class="radio_box">
						<input type="radio" value="4" name="rate1" id="rate1_radio4" />
						<label for="rate1_radio4">Rarely</label>
					  </div>

					  <div class="radio_box">
						<input type="radio" value="5" name="rate1" id="rate1_radio5" />
						<label for="rate1_radio5">Never</label>
					  </div>
					  <div class="clearfix"></div>
					</div>
					
				  </div>
				</li>
			  </ul>
			</div>
			<div class="clearfix"></div>
			<div class="text-center button_section">
			  <button class="next_btn" id="submit_btn" type="submit" data-toggle="modal" data-target="#PreviewModal">Submit</button>
			</div>
			<div class="clearfix"></div>
			<a (click)="startTour()" class="next_btn" id="start_feedback">Start tour</a>
		  </div>
		  <div class="col-md-3 col-sm-4">
			<div class="category_desc">
			  <div class="border_div">
				<h2>Description</h2>
			  </div>
			  <div class="content_div">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				  <div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingOne">
					  <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> <span class="icon_span"></span>Opportunistic Coaching Feedback </a> </h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
					  <div class="panel-body"> The individual delivers feedback that includes facts, clear expectations, and a balance of positive and critical feedback. They also provide suggestions for improvement, and allow for a two-way dialogue between giver and receiver. </div>
					</div>
				  </div>
				  <div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingTwo">
					  <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> <span class="icon_span"></span>Empathetic Feedback </a> </h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
					  <div class="panel-body"> The individual delivers feedback that takes the receiver's situation, experiences, and perspective into consideration. This is expressed in the timing of the feedback, consideration of their workloads, adapting deliverer's communication style to theirs, and mitigating the impact of the feedback. </div>
					</div>
				  </div>
				  <div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingThree">
					  <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> <span class="icon_span"></span>Progressive Feedback </a> </h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					  <div class="panel-body"> The individual finds ways to improve and monitor the feedback they deliver. </div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	  <div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>
	<!-- End Assessment Section --> 
</div>

<!-- Description Popup -->
<div class="modal fade" id="DescriptionModal" tabindex="-1" role="dialog" aria-labelledby="DescriptionModal" >
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel">Welcome To The Straehle Feedback Inventory (SFI) Demo</h3>
      </div>
      <div class="modal-body">
		  <p class="padding_15">The SFI is a scientifically sound, evidence-based inventory that measures how employees deliver and receive feedback. This instrument has been designed as a valid, reliable, and fair self-report inventory that can deliver direct results and quantifiable solutions. Instead of guessing at how your organization can improve, we can uncover your results with our specially designed score reports and our personalized training programs. We understand your strengths and areas of opportunity, and analyze it to fit you.</p>
		  <p>For more technical information about the Straehle Feedback Inventory, please <a href="images/TechnicalStraehleFeedbackInventorySheet.pdf" target="_blank">click here</a>.</p>
      </div>
      <div class="modal-footer">
		  <button type="button" class="back_btn" data-dismiss="modal">Tour Guide</button>
        <button type="button" class="next_btn" (click)="startFeedback()">Skip</button>
      </div>
    </div>
  </div>
</div>
<!-- End Description Popup --> 
