<div class="register_content">
  <div class="register_bg">
    <div class="black_bg">
      <div class="logo"> 
        <a *ngIf="company_workspace==''" routerLink="/login">
          <img *ngIf="company_workspace!='' && Company.CompanyLogo!=null" src="assets/company/{{Company.CompanyLogo}}"  class="img-responsive">
          <img *ngIf="company_workspace=='' || Company.CompanyLogo==null" src="assets/images/logo.png"  class="img-responsive">
        </a>
        <a *ngIf="company_workspace!=''" routerLink="/{{company_workspace}}/login">
        <img *ngIf="company_workspace!='' && Company.CompanyLogo!=null" src="assets/company/{{Company.CompanyLogo}}"  class="img-responsive">
        <img *ngIf="company_workspace=='' || Company.CompanyLogo==null" src="assets/images/logo.png" class="img-responsive">
      </a>
      </div>
      <div class="banner_text">A Little More About Feedback
        <p>Above all, this program guarantees a learning environment that is specially designed to support the individual in your organization.</p>
      </div>
    </div>
  </div>
  <div class="col-md-8 col-sm-8 col-xs-12 pull-right no_padding">
    <div class="right_register">
      <div class="header_block">
        <div class="login_text pull-right">Already have an Account? 
          <a *ngIf="company_workspace==''" routerLink="/login">Sign In</a>
          <a *ngIf="company_workspace!=''" routerLink="/{{company_workspace}}/login">Sign In</a>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
      <div class="form_block login_block">
        <h1>Forgot Password?</h1>
        <p class="padding_15">Enter your Email Address to reset your Password</p>
        <form #fgpassForm="ngForm" (ngSubmit)="Forgot(fgpassForm)">
          <div class="row">
            <div class="col-md-6 col-sm-12 col-md-offset-3">
                <div class="alert alert-{{globals.type}}" role="alert" *ngIf="globals.msgflag">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                    <span [innerHTML]="globals.message"></span>
                </div>
              <div class="form-group">
                <label><span>*</span>Email Address </label>
                <input type="email" class="form-control"  #EmailAddress="ngModel" [(ngModel)]="fgpassEntity.EmailAddress" name="EmailAddress" [ngClass]="{red_border: (EmailAddress.dirty && EmailAddress.invalid) || (EmailAddress.pristine && submitted)}" required/>  
                <span class="error_span" *ngIf="(EmailAddress.dirty && EmailAddress.invalid) || (EmailAddress.pristine && submitted)"> 
                    <span *ngIf="EmailAddress.errors.required || (EmailAddress.pristine && submitted)">Please enter your Email Address</span>
                   
                </span>
              </div>
              <button [disabled]="btn_disable" class="next_btn" type="submit"><span>Request</span></button>
            </div>
          </div>
          <div class="clearfix"></div>
        </form>
      </div>
      <div class="clearfix"></div>
      <app-footer-login></app-footer-login>
    </div>
  </div>
</div>
<div class="clearfix"></div>




<!-- Register Section -->
<!-- <div class="register_content">
    <div class="register_bg">
      <div class="black_bg">
        <div class="banner_text">Join Our Community
          <p>Lorem ipsum dolor sit amet, coectetuer adipiscing
            elit sed diam nonummy et nibh euismod</p>
        </div>
        <div class="footer_text"><a href="http://aerexperts.com/" target="_blank">© 2018 Assessment, Education, and Research Experts</a><br>
          Powered by <a href="http://www.theopeneyes.com/" target="_blank">OpenEyes Technologies, Inc.</a></div>
      </div>
    </div>
    <div class="col-md-7 col-sm-7 pull-right no_padding">
      <div class="right_register">
        <div class="header_block">
          <div class="logo pull-left"> <a routerLink="/login"><img src="assets/images/logo.png" alt="Learn Feedback" title="Learn Feedback" class="img-responsive"></a> </div>
          <div class="login_text pull-right">Already have an account? <a routerLink="/login">Sign In</a></div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="form_block login_block">
        <h1>Forgotten Password ?</h1>
        <p class="padding_15">Enter your email to reset your password:</p>
        <form #fgpassForm="ngForm" (ngSubmit)="Forgot(fgpassForm)">
          <div class="row">
            <div class="col-md-8 col-sm-12 col-md-offset-2">
              <div class="alert alert-{{globals.type}}" role="alert" *ngIf="globals.msgflag">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                  {{globals.message}}
              </div>
              <div class="form-group">
                <label><span>*</span>Email Address </label>
                <input type="email" class="form-control" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" #EmailAddress="ngModel" [(ngModel)]="fgpassEntity.EmailAddress" name="EmailAddress" [ngClass]="{red_border: (EmailAddress.dirty && EmailAddress.invalid) || (EmailAddress.pristine && submitted)}" required/>  
                <span class="error_span" *ngIf="(EmailAddress.dirty && EmailAddress.invalid) || (EmailAddress.pristine && submitted)"> 
                    <span *ngIf="EmailAddress.errors.required || (EmailAddress.pristine && submitted)">Please enter your email</span>
                    <span *ngIf="EmailAddress.errors && EmailAddress.errors.pattern">
                      Please enter valid email
                    </span>
                </span>
              </div>
              <button class="next_btn" type="submit"><span>Request</span></button>
            </div>
          </div>
        </form>
          <div class="clearfix"></div>
          </div>        
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div> -->
  <!-- End Register Section --> 

