<div class="grey_content">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-sm-12 col-md-offset-2">
        <h1>Feedback Answer</h1>
          <!-- <div class="alert alert-{{globals.type}}" role="alert" *ngIf="globals.msgflag">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
            {{globals.message}}
          </div> -->
        <div class="white_box">
      <div class="buttons_block">
        <!-- <a routerLink="/answer/add" class="next_btn"><i class="fa fa-plus"></i>Add a Answer</a> -->
        <div id="buttons" class="pull-right"></div>
        <div class="clearfix"></div>
      </div>
          <table id="list_tables" class="table table-hover" style="width:100%">
            <thead>
                <tr>
                  <th class="tbl1_width">No.</th>
                  <th>Answer</th>
                  <th class="text-right">Value</th>
                  <th class="text-right">Reverse Value</th>
                  <!-- <th>Active?</th> -->
                  <th class="print_none tbl_width text-center" *ngIf="permissionEntity.AddEdit==1 || permissionEntity.Delete==1">Actions</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let answer of answerList; let i = index" >
                      <td>{{i+1}}</td> 
                      <td>{{answer.Name}}</td>     
                      <td class="text-right">{{answer.Value}}</td>   
                      <td class="text-right">{{answer.ReverseValue}}</td>                 
                      <!-- <td *ngIf="answer.IsActive=='1'">Yes</td>
                      <td *ngIf="answer.IsActive=='0'"  >No</td> -->
                      <!-- <td>
                        <div class="activeyes_box" *ngIf="answer.isdisabled==0">
                        <input type="checkbox" name="active1" id="active{{i}}" (change)="isActiveChange(answer,i)" [checked]="answer.IsActive==1" value="Yes" >
                        <label for="active{{i}}"></label>
                      </div>
                      <div *ngIf="answer.isdisabled>0" class="activeyes_box" data-toggle="tooltip" data-placement="bottom" title="You can’t deactivate Answer as it has been already used in ongoing Feedback">
                          <input type="checkbox" name="active1" [disabled]="answer.isdisabled>0" id="active{{i}}" (change)="isActiveChange(answer,i)" [checked]="answer.IsActive==1" value="Yes" >
                          <label for="active{{i}}"></label>
                      </div>
                    </td> -->
                      <td class="print_none text-center"  *ngIf="permissionEntity.AddEdit==1 || permissionEntity.Delete==1">
                       <div class="inline_delbtn tooltip_inline"> 
                             <button   data-toggle="tooltip" data-placement="top"   title="Edit"  *ngIf="permissionEntity.AddEdit==1" class="edit" routerLink="/answer/edit/{{answer.FeedbackAnswerId}}" > <i class="fa fa-edit"></i> </button>
                        </div>
                        <!-- <div *ngIf="(permissionEntity.Delete==1) && (answer.isdisabled>0)" class="inline_delbtn tooltip_inline"  data-toggle="tooltip" data-placement="bottom"  title="You can’t delete answer as it is used in sub-answer already"> 
                        <button [disabled]="answer.isdisabled>0"   (click)="deleteanswer(answer)"  class="btn btn-danger btn-rounded btn-sm delete-user-row-with-ajax-button"> <span class="fa fa-times"></span> </button>
                        </div>
                        <div *ngIf="(permissionEntity.Delete==1) && (answer.isdisabled==0)" class="inline_delbtn tooltip_inline"  data-toggle="tooltip" data-placement="bottom"   title="Delete" > 
                        <button (click)="deleteanswer(answer)"  class="btn btn-danger btn-rounded btn-sm delete-user-row-with-ajax-button"> <span class="fa fa-times"></span> </button>
                        </div> -->
                      </td>
                    </tr>
                    <tr *ngIf="answerList.length<=0">
                      <td colspan="5" class="text-center">There is no record found</td>
                    </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>

<!-- Model -->
<div class="modal fade bs-example-modal-sm"  id="Delete_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
          <div class="modal-body">
              <p>Are you sure you want to remove this Answer?</p>
            </div>
            <div class="modal-footer text-center">
              <button type="button" class="next_btn" (click)="deleteConfirm(deleteEntity)" id="yes_btn"><span>Yes</span></button>
              <button type="button" class="back_btn" data-dismiss="modal"><span>No</span></button>
          </div>
      </div>
  </div>
</div>
